<div class="container">
    <div class="row padding-large">
        <div class="col-lg-offset-0">
            <h3>手中无刀，心中无刀</h3>
            <hr/>
            <p><div id="wb_follow_btn"></div></p>
            <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1887443410" type="text/javascript" charset="utf-8"/>
            <script>
                WB2.anyWhere(function (W) {
                    W.widget.followButton({
                        'nick_name': '_Crazz',
                        'id': "wb_follow_btn",
                        'show_head': true,
                        'show_name': true,
                        'show_cancel': true
                    });
                });
            </script>
            <p>小时候一直崇拜计算机牛人，也希望某一天自己也是。<br/><br/>

                如今我已从事这个行当，发现其实水很深，是需要脚踏实地的学习的。<br/><br/>

                不过这个行当确实很有乐趣，希望这个乐趣一直伴随着我的职业生涯。<br/><br/>

                当然生活不仅需要这些，还有更多的知识需要慢慢学习，不仅仅是技术。<br/><br/>

                我很喜欢乔老爷子的那句：Stay Hungry, Stay Foolish.</p>

            <p><del>Swift</del> / <del>Objective-C</del> / Go / JAVA / <del>Python</del> ...</p>

            <p>macOS /
                <del>Windows</del>
                /  <del>Fedora</del> / <del>Ubuntu</del> /
                <del>Gentoo</del>
                / <del>Arch Linux</del> ...
            </p>

        <p>
            <a href="mailto:mhxdev@gmail.com">Email</a>
        </p>
            <p><a href="https://github.com/menghx/levante" target="_blank">Source Code?</a></p>
        </div>
    </div>
</div>