<div class="container">
    <div class="row padding-large">
        <div class="col-lg-offset-0">
            <h3>STAY HUNGRY STAY FOOLISH</h3>
            <hr/>
            <p><div id="wb_follow_btn"></div></p>
            <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1887443410" type="text/javascript" charset="utf-8"/>
            <script>
                WB2.anyWhere(function (W) {
                    W.widget.followButton({
                        'nick_name': '_Crazz',
                        'id': "wb_follow_btn",
                        'show_head': true,
                        'show_name': true,
                        'show_cancel': true
                    });
                });
            </script>
            <p>Developer@Shanghai.China</p>

            <p>Swift / Objective-C / Go / JAVA / Python ...</p>

            <p>macOS /
                <del>Windows</del>
                / Fedora / Ubuntu /
                <del>Gentoo</del>
                / <del>Sabayon</del> ...
            </p>

        <p>
            <a href="mailto:mhxdev@gmail.com">Email</a>
        </p>
            <p><a href="https://github.com/menghx/levante" target="_blank">Source Code?</a></p>
        </div>
    </div>
</div>