<div class="container">
   <ul class="list-unstyled">
      {{ range $index , $cblog := .postList }}
      <li>
         <div class="container well-sm">
            <a href='/post/{{ $cblog.ID }}' class="h5">{{ $cblog.Title }}</a>
            <span class="pull-right">{{ $cblog.CreatedAt }}</span>
         </div>
      </li>
      {{ end }}
   </ul>
   <ul class="pagination hidden">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
   </ul>
</div>
