<div class="container">
    {{ range $index , $cblog := .postList }}
    <div class="row">
        <article class="well-lg">
            <header>
                <h3><a href='/post/{{ $cblog.OprBaseModel.ID }}'>{{ $cblog.Title }}</a></h3>
                <div class="text-muted">
                    <span class="pull-right">{{ $cblog.Author }}&nbsp;发表于{{ $cblog.CreatedAt }}</span>
                </div>
                <hr/>
            </header>
            <div>
                {{ $cblog.Content }}
            </div>
            <footer>
                <hr>
                <button type="button" class="btn btn-default btn-sm"
                        onclick="thumbsClick(this,'{{ $cblog.OprBaseModel.ID }}','support')">
                    <span class="glyphicon glyphicon-thumbs-up"></span> <span>{{ $cblog.Support }}</span>
                </button>
                <button type="button" class="btn btn-default btn-sm"
                        onclick="thumbsClick(this,'{{ $cblog.OprBaseModel.ID }}','oppose')">
                    <span class="glyphicon glyphicon-thumbs-down"></span> <span>{{ $cblog.Oppose }}</span>
                </button>
                <span class="pull-right text-primary">
                   <a class="h4" href='/post/{{ $cblog.OprBaseModel.ID }}'> more...</a>
                </span>
            </footer>
        </article>
    </div>
    {{ end }}

    {{ if gt (len .postList) 6 }}
    <a class="btn btn-default center-block" href="/archive/">Archives ...</a>
    {{ end }}

</div>
