<div class="container">

    <div class="row">
        <h1>{{ .post.Title }}</h1>

    </div>
    <div class="row">
        <span class="pull-right">
               <span class="oi oi-person">{{ .post.Author }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <span class="oi oi-calendar">{{ .post.CreatedAt.Format "1989-02-14 15:04:05" }}</span>
        </span>
    </div>
    <hr/>
    <div class="row">
        {{ .post.Content }}
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <button type="button" class="btn btn-outline-secondary">
            <span class="oi oi-thumb-up"></span> {{ .post.Support }}
        </button>
        &nbsp; &nbsp;
        <button type="button" class="btn btn-outline-secondary">
            <span class="oi oi-thumb-down"></span> {{ .post.Oppose }}
        </button>
    </div>

</div>
