{{ define "head"}}
<link href="/statics/css/start.css" rel="stylesheet">
{{ end }}

<div class="container">
    <div id="search_content">
        <form class="search_form" id="queryForm" action="http://www.google.com/search" target="_blank">
            <input accesskey="s" id="kw" type="text" name="q" placeholder="输入关键词" onkeydown="submitForm(e)"/>
            <input class="search_btn" type="button" onclick="subForm(1)" value="Google"/>
            <input class="search_btn" type="button" onclick="subForm(2)" value="Baidu"/>
            <input class="search_btn" type="button" onclick="subForm(3)" value="Bing"/>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="link_table">
        {{ range .linkGroup }}
        <div class="link_table_row">
            <div class="link_table_row_header">
                <p>{{ (index . 0).Group }}</p>
            </div>
            <ul>
                {{ range . }}
                <li><a target='_blank' title='Owner:{{ .Owner }},About:{{ .Description }}' {{ if eq .Highlight "1" }} class='init' {{ end }} href='{{ .Url }}'>{{ .Title }}</a></li>
                {{ end }}
            </ul>
            <div class="clearfix"></div>
        </div>
        {{ end }}
    </div>
    <script charset="gbk" src="http://www.baidu.com/js/opensug.js"></script>
    <script charset="gbk" src="/statics/js/start.js"></script>
</div>
