[Unit]
Description=LEVANTE SERVER
After=network.target mysqld.service

[Service]
Type=simple
ExecStart=/opt/server/levante/levante -cfg /opt/server/levante/config.json

[Install]
WantedBy=multi-user.target