<div class="container">
    <div class="row padding-large">
        <div class="col-lg-offset-0">
            <h3>手中无刀，心中无刀</h3>
            <hr/>
            <p>
                每一个不曾起舞的日子，都是对生命的辜负！<br/><br/>
                Be the change you want to see in the world.
            </p>

            <p>Swift / <del>Objective-C</del> / Go / Java / <del>Python</del> / Rust ...</p>

            <p>macOS /
                <del>Windows</del>
                /  <del>Fedora</del> / <del>Ubuntu</del> /
                Arch Linux / <del>Gentoo</del>
                ...
            </p>
        <p>
            <a href="mailto:askmhx@gmail.com">联系我</a>
        </p>
            <p><a href="https://github.com/menghx/levante" target="_blank">博客源码</a></p>
        </div>
    </div>
</div>