{{ range $index , $cblog := .postList }}
<div class="card mb-lg-3 border-light">
    <div class="card-body">
        <a class="text-dark" href='/post/{{ $cblog.ID }}' class="h5">{{ $cblog.Title }}</a>
        <span class="text-muted">{{ $cblog.CreatedAt.Format "2006/01/02 - 15:04:05" }}</span>
    </div>
</div>
{{ end }}
<nav class="mt-lg-3">
    <ul class="pagination hidden align-self-lg-center center-block">
        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>
</nav>