<div class="container">
    <h3 class="mt-1">{{ .post.Title }}</h3>
    <div class="lead mt-3">
        <a href="#">{{ .post.Author }}</a>
        <span>发布于 {{ .post.CreatedAt.Format "2006-01-02 15:04:05" }}</span>
        <span class="float-right">
            <a class="text-secondary" href="javascript:thumbsClick(this,'{{ .post.OprBaseModel.ID }}','support')">
                <span class="oi oi-thumb-up"></span>{{ .post.Support }}
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="text-secondary" href="javascript:thumbsClick(this,'{{ .post.OprBaseModel.ID }}','oppose')">
                <span class="oi oi-thumb-down"></span>{{ .post.Oppose }}
            </a>
        </span>
    </div>
    <hr>
    <div class="row col-sm-12">
        <article>
            {{ .post.Content | markdown }}
        </article>
    </div>
    <div class="well mt-4">
        <form>
            <div class="form-group row">
                <label for="commitContent" class="col-sm-12 col-form-label">评论<span
                        style="color: #ff0000;font-weight: bold">*</span></label>
                <div class="col-sm-12">
                    <textarea id="commitContent" class="form-control" placeholder="说几句？" rows="1"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="commitName" class="col-sm-12 col-form-label">名字<span
                        style="color: #ff0000;font-weight: bold">*</span></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="commitName" placeholder="请留下您的大名">
                </div>
            </div>
            <div class="form-group row">
                <label for="commitEmail" class="col-sm-12 col-form-label">邮箱<span
                        style="color: #ff0000;font-weight: bold">*</span></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="commitEmail" placeholder="请留下您的邮箱">
                </div>
            </div>
            <div class="form-group row">
                <label for="commitSite" class="col-sm-12 col-form-label">网址</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="commitSite" placeholder="请留下您的网址">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>