<div class="container">
    <div class="row">
        <form class="form-inline col-12" id="queryForm" action="https://www.google.com/search" target="_blank">
            <div class="form-group mr-auto ml-auto">
                <input accesskey="s" id="kw" class="form-control border-secondary" style="width: 20em" type="text"
                       name="q" placeholder="输入想搜的内容" onkeydown="submitForm(e)"/>
                <input class="btn btn-outline-primary ml-2 border-secondary" type="button" onclick="subForm(1)"
                       value="Google"/>
                <input class="btn btn-outline-primary ml-2 border-secondary" type="button" onclick="subForm(2)"
                       value="Baidu"/>
                <input class="btn btn-outline-primary ml-2 border-secondary" type="button" onclick="subForm(3)"
                       value="Bing"/>
            </div>
        </form>
    </div>
    <div class="row mt-lg-4">
        <table class="table bg-transparent">
            <tbody>
            {{ range $gIndex, $linkEntry := .linkGroupList }}
                <tr>
                <th class="pt-4 pb-4" scope="row">{{ $linkEntry.Title }}</th>
                <td class="pt-4 pb-4">
                {{ range $index, $link := $linkEntry.LinkList }}
                    <a target='_blank' title='Owner:{{ $link.Owner }},About:{{ $link.Description }}'
                    {{ if eq $link.Highlight 1 }}
                       class='mr-lg-2 ml-lg-2 text-primary'
                    {{else}}
                       class='mr-lg-2 ml-lg-2 text-secondary'
                    {{ end }}
                       href='{{ $link.Url }}'>{{ $link.Title }}</a>
                {{end}}
            </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>