<div class="container">
    <div class="row padding-large">
        <div class="col-lg-offset-0">
            <h3>手中无刀，心中无刀</h3>
            <hr/>
            <p>
                学习是一种习惯<br/><br/>
                Stay Hungry, Stay Foolish.
            </p>

            <p><del>Swift</del> / <del>Objective-C</del> / Go / JAVA / <del>Python</del> ...</p>

            <p>macOS /
                <del>Windows</del>
                /  <del>Fedora</del> / <del>Ubuntu</del> /
                <del>Gentoo</del>
                / <del>Arch Linux</del> ...
            </p>

        <p>
            <a href="mailto:mhxdev@gmail.com">联系我</a>
        </p>
            <p><a href="https://github.com/menghx/levante" target="_blank">博客源码</a></p>
        </div>
    </div>
</div>