[Unit]
Description=LEVANTE SERVER
After=network.target

[Service]
Type=simple
ExecStart=/opt/server/levante/bin/launch -cfg /opt/server/levante/assets/config/production.json

[Install]
WantedBy=multi-user.target